
$mainShadow: 0 0.2em 1.2em 0.2em rgba($color: #000, $alpha: 0.2);
$secondaryShadow: 0 0 0.3em 0.1em rgba($color: #888, $alpha: 0.5);

/* Colors */
$mainGreenColor: #4caf50;
$mainBlueColor: #0083ff;
$mainRedColor: #f4511e;

/* Font Colors */
$mainFontColor: #222;
$secondaryFontColor: #f0f0f0;

/* Background Colors */
$mainDarkColor: #3a3a3a;
$mainDarkLighten: lighten($mainDarkColor, 5%);
$mainDarkHightLighten: lighten($mainDarkColor, 40%);
$secondaryDarkColor: #b0b0b0;
$secondaryDarkLighten: lighten($secondaryDarkColor, 5%);

/* Notifications */
$mainSuccessColor: $mainGreenColor;
$mainSuccessDarken: darken($mainSuccessColor, 5%);
$mainInfoColor: $mainBlueColor;
$mainInfoDarken: darken($mainInfoColor, 10%);
$mainErrorColor: $mainRedColor;
$mainErrorDarken: darken($mainErrorColor, 15%);

/* Link Color */
$mainLinkColor: $mainBlueColor;
$mainLinkDarken: darken($mainLinkColor, 20%);

/* Buttons Color */
$mainButtonSuccessColor: $mainGreenColor;
$mainButtonSuccessDarken: darken($mainButtonSuccessColor, 5%);
$mainButtonErrorColor: $mainRedColor;
$mainButtonErrorDarken: darken($mainButtonErrorColor, 5%);

// TODO need updating
$itemCardBuy: #5a5;
$itemCardLightenBuy: #8a8;
$itemCardSell: #a55;
$itemCardLightenSell: #a88;
$itemCardEquip: #55a;
$itemCardLightenEquip: #88a;
$itemCardRemove: #333;
$itemCardLightenRemove: #ddd;

// SITE INPUT BUTTONS
input[type='reset'],
input[type='submit'] {
    border: 0.2rem solid transparent;
    outline: none;
    color: $secondaryFontColor;
    background-color: $mainButtonSuccessColor;
    cursor: pointer;

    &:focus,
    &:hover {
        border-color: $mainButtonSuccessColor;
        background-color: $secondaryFontColor;
        color: $mainButtonSuccessColor;
    }
}

// Form Input Buttons
.form-action-btn {
    border-radius: 0.75em;
}

// SITE BUTTONS
button {
    border: none;
    outline: none;
    background: none;
    color: $secondaryFontColor;
    cursor: pointer;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

// Header & Footer Menu Buttons
.header-button,
.option-button {
    &.isClicked {
        color: $mainFontColor;
        background-color: $mainDarkHightLighten;
    }

    &.main-site-functionalities.isClicked {
        background-color: $mainButtonSuccessDarken;
    }
}

// Header
.header-button {
    padding: 1em 1.2em;
    line-height: 0;
    font-size: 1.2em;

    &.main-site-functionalities {
        background-color: $mainButtonSuccessColor;

        &:focus,
        &:hover {
            background-color: $mainButtonSuccessDarken;
        }
    }
}

// Footer
.footer-button {
    padding: 0.7em 0.5em;
    border-radius: 0.5rem;
    line-height: 0;
    color: $secondaryFontColor;

    &.isClicked {
        background-color: $mainDarkLighten;

        &:focus,
        &:hover {
            background-color: $mainDarkLighten;
        }
    }

    &:focus,
    &:hover {
        background-color: transparent;
    }
}

// Info
.info-button {
    color: $mainLinkColor;

    &:hover,
    &:focus {
        color: $mainLinkDarken;
    }
}

// Register
.register-button.terms {
    color: $mainLinkColor;
}

// Logout
.logout-button {
    width: 6em;
    line-height: 1.5;
    border-radius: 0.2em;
    font-size: 2em;
    transition: all 0.5s;
    background-color: $mainButtonSuccessColor;

    &:focus,
    &:hover {
        color: #fff;
        background-color: $mainButtonSuccessColor;
    }

    span {
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -2em;
            transition: 0.5s;
        }
    }

    &:focus,
    &:hover {
        span {
            padding-right: 1em;
            text-decoration: none;

            &:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

// GameOptionBar
.option-button {
    padding: 1em 0;
    line-height: 0;
    font-size: 0.8em;

    &.main-site-functionalities {
        background-color: $mainButtonSuccessColor;

        &:focus,
        &:hover {
            background-color: $mainButtonSuccessDarken;
        }
    }
}

// Notification
.notifications-list {
    .notifications-button {
        font-size: 1.2em;
        padding: 0.1em;
        border-radius: 0.2em;
        border: 0.15em solid transparent;
        line-height: 1;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }

    .notification-success {
        .notifications-button {
            background-color: $mainSuccessDarken;

            &:hover {
                background-color: $secondaryFontColor;
                color: $mainSuccessDarken;
                border-color: $mainSuccessDarken;
            }
        }
    }

    .notification-info {
        .notifications-button {
            background-color: $mainInfoDarken;

            &:hover {
                background-color: $secondaryFontColor;
                color: $mainInfoDarken;
                border-color: $mainInfoDarken;
            }
        }
    }

    .notification-error {
        .notifications-button {
            background-color: $mainErrorDarken;

            &:hover {
                background-color: $secondaryFontColor;
                color: $mainErrorDarken;
                border-color: $mainErrorDarken;
            }
        }
    }
}

// Overlay
.overlay-button {
    width: 6em;
    padding: 0.5em 1.5em;
    border-radius: 1em;

    &.ready {
        background-color: $mainGreenColor;
    }

    &.home {
        background-color: $mainRedColor;
    }
}

.overlay-button.next-level {
    width: auto;
    background-color: $mainGreenColor;
}

// MEME
.meme-card-button {
    padding: 0.3em 3em;
    background-color: $secondaryDarkColor;
    border-radius: 1em;

    span {
        max-width: 8em;
    }

    &:focus,
    &:hover {
        background-color: $secondaryDarkLighten;
    }

    &.delete {
        background-color: $mainErrorColor;

        &:focus,
        &:hover {
            background-color: $mainErrorDarken;
        }
    }

    &.edit {
        background-color: $mainSuccessColor;

        &:focus,
        &:hover {
            background-color: $mainSuccessDarken;
        }
    }
}

// ItemList
.item-card-button {
    &.buy {
        background-color: $itemCardBuy;
        &:hover {
            background-color: $itemCardLightenBuy;
        }
    }

    &.sell {
        background-color: $itemCardSell;
        &:hover {
            background-color: $itemCardLightenSell;
        }
    }

    &.equip {
        background-color: $itemCardEquip;
        &:hover {
            background-color: $itemCardLightenEquip;
        }
    }

    &.remove {
        background-color: $itemCardRemove;

        &:hover {
            background-color: $itemCardLightenRemove;
            color: black;
        }
    }
}

// Social & 404 Buttons
.social-button,
.four-o-four-button {
    border-radius: 1.5rem;
    font-weight: 700;
    background-color: $mainSuccessColor;
}
