.site-header-2 {
    background-color: turquoise;

    .site-navigation {
        ul,
        li {
            display: flex;
        }

        ul {
            padding: 0;
            justify-content: space-between;
        }
    }
}
